h1, h2{
  color: #365B6D;
  margin: 0;
}
.bienvenido{
  height: 100vh;
  background-color: #F2F1EC;
}

.bienvenido .bienvenido-top{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.bienvenido-top .logo{
  width: 30px;
}

.profesion{
  font-weight: medium;
}

.bienvenido-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
  margin-top: 100px;
}

.izquierda{
  display: flex;
  flex-direction: column;
}
.nombre{
  font-size: 87px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.izquierda .btn-start{
  font-weight: 300;
  color: #365B6D;
  background-color: #41C1BA;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.izquierda .btn-start:hover{
  transition: 500ms;
  color: white;
}

.derecha .saludo{
  position: absolute;
  top: 100px;
  right: 280px;
  width: 400px;
}
.derecha .bloque{
  width: 80%
}

/* Hasta 480px */
@media only screen and (max-width: 480px) {
  .bienvenido .bienvenido-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bienvenido-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  .nombre{
    font-size: 50px;
  }
  .bienvenido-main .derecha{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .derecha .saludo{
    position: absolute;
    top: 270px;
    right: 60px;
    width: 200px;
  }
}

/* De 481px a 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .bienvenido .bienvenido-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .bienvenido-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 120px;
  }
  .nombre{
    font-size: 80px;
  }
  .derecha{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .derecha .saludo{
    position: absolute;
    top: 490px;
    right: 220px;
    width: 350px;
  }
  
}