h1, h2{
  color: #365B6D;
  margin: 0;
}
.bienvenido{
  height: 100vh;
  background-color: #F2F1EC;
}


.bienvenido .bienvenido-top{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.bienvenido-top .logo{
  width: 30px;
}
.profesion{
  font-weight: medium;
}

.capa-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
  margin-top: 100px;
}

.izquierda{
  display: flex;
  flex-direction: column;
}
.nombre{
  font-size: 87px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.izquierda .btn-start{
  font-weight: 300;
  color: #365B6D;
  background-color: #41C1BA;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.izquierda .btn-start:hover{
  transition: 1000ms;
  color: white;
}

.derecha .saludo{
  position: absolute;
  top: 100px;
  right: 280px;
  width: 400px;
}
.derecha .bloque{
  width: 80%
}