h1, h2{
  color: #365B6D;
  margin: 0;
}
.bienvenido{
  height: 100vh;
  background-color: #F2F1EC;
}

.bienvenido .bienvenido-top{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.bienvenido-top .logo{
  width: 30px;
}

.profesion{
  font-weight: medium;
}

.bienvenido-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 7.5rem;
}

.izquierda{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.izquierda .nombre{
  font-size: 87px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.izquierda .btn-start{
  font-weight: 300;
  color: #365B6D;
  background-color: #41C1BA;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
  width: 60%;
}
.izquierda .btn-start:hover{
  transition: 500ms;
  color: white;
}

.derecha{
  width: 30%;
}
.derecha .bloque{
  width: 100%;
  height: 24rem;
  background-image: url(../assets/img/bloques.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:right;
  background-origin: padding-box;
  position: relative;
}
.derecha .saludo{
  width: 23rem;
  position: absolute;
  left: 70px;
}

/* Hasta 480px */
@media only screen and (max-width: 850px) {
  .bienvenido .bienvenido-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .izquierda .btn-start{
    width: 200px;
  }

  .bienvenido-main{
    flex-direction: column;
  }
  
  .derecha .bloque{
    width: 500px;
  }
}

@media only screen and (max-width: 480px) {
  .bienvenido-main .derecha{
    display: none;
  }
}
