h1, h2{
  color: #365B6D;
  margin: 0;
}
.capa1{
  height: 100vh;
  background-color: #F2F1EC;
}


.capa1 .capa-top{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.capa-top .logo{
  width: 30px;
}
.profesion{
  font-weight: medium;
}

.capa-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
  margin-top: 100px;
}

.izquierda{
  display: flex;
  flex-direction: column;
}
.nombre{
  font-size: 87px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.btn-start{
  font-weight: 300;
  color: #365B6D;
  background-color: #41C1BA;
  border: none;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
}
/* .btn-start:hover{
  transition: 1000ms;
  -webkit-box-shadow: 0px 6px 12px -5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 12px -5px rgba(0,0,0,1);
  box-shadow: 0px 6px 12px -5px rgba(0,0,0,1);
} */

.derecha .saludo{
  position: absolute;
  top: 100px;
  right: 280px;
  width: 400px;
}
.derecha .bloque{
  width: 80%
}