.Proyectos{
  height: 100vh;
  background-color: #F2F1EC;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
}
.proyecto{
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  height: 150px;
  backdrop-filter: blur(1000px);
}

.calculadora{
  background-image: url(../assets/img/proyecto1.png);
}
.juegoPPT{
  background-image: url(../assets/img/proyecto2.png);
}
.apiPaises{
  background-image: url(../assets/img/proyecto3.png );
}
.titulo-proyecto{
  font-size: medium;
}
.proyecto .links-proyectos{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}
.ico{
  width: 30px;
}

.Proyectos .izquierda{
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo-proyectos{
  font-size: 37px;
  text-align: center;
  font-weight: 700;
  color: #365B6D;
}
.estudiando{
  width: 400px;
}

.proyecto-wrap-false{
  visibility: hidden;
  
}
.proyecto-wrap-true{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  transition: 1000ms;
}
.derecha{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Hasta 480px */
@media only screen and (max-width: 850px) {
  .Proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .estudiando{
    display: none;
  }
  .proyecto{
    width: 70%;
    height: 200px;
    background-position: center;
    gap: 0;
  }
  .derecha{
    width: 100%;
  }
  .titulo-proyectos{
    font-size: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .Proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .estudiando{
    display: none;
  }

  .proyecto{
    height: 150px;
    width: 300px;
    background-position: center;
    gap: 0;
  }
}