@import "@glidejs/glide/dist/css/glide.core.min.css";
@import "@glidejs/glide/dist/css/glide.theme.min.css";

.tecnologias{
  height: 100vh;
  background-color: #365B6D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tecnologias-titulo{
  color: white;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 150px;
  margin-top: -120px;
}

.glide__slides{
  margin: 5px 128px;
}

.glide_slide img{
  width: 200px;
}

@media (max-width: 480px) {
  /* Ajusta los estilos para pantallas pequeñas */
  .glide_slide img{
    width: 100px;
  }
  .glide{
    width: 100%;
    margin-left: 40px;
  }
}